Repository dapr/components-contrib, pull requests merged in 2020-09, with the labels that each got.

#468 Bi-directional output binding for PostgreSQL
  bindings/postgres/postgres.go
  bindings/postgres/postgres_test.go
  go.mod
  go.sum
Labels: area/bindings

#476 postgres binding w/ better tests, cleaner errors
  bindings/postgres/postgres.go
  bindings/postgres/postgres_test.go
Labels: area/bindings

#423 RethinkDB state store support
  bindings/rethinkdb/statechange/statechange.go
  bindings/rethinkdb/statechange/statechange_test.go
  go.mod
  go.sum
  state/rethinkdb/rethinkdb.go
  state/rethinkdb/rethinkdb_test.go
Labels: area/bindings, area/state

#482 Fixing bug where trx del in redis fails without etag.
  state/redis/redis.go
  state/redis/redis_test.go
Labels: P0, area/state, kind/bug
